<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

  <body>

    <ui:composition template="./template/pageLayout.xhtml">

      <ui:define name="top">
        top
      </ui:define>

      <ui:define name="content">
        content
      </ui:define>

      <ui:define name="bottom">
        bottom
      </ui:define>

    </ui:composition>

  </body>
</html>
